In [3]:
import streamlit as st
import pandas as pd
import numpy as np
import plotly.express as px

In [4]:
data = pd.read_csv('vehicles_us.csv')
#51525 rows × 13 columns
data.dtypes

price             int64
model_year      float64
model            object
condition        object
cylinders       float64
fuel             object
odometer        float64
transmission     object
type             object
paint_color      object
is_4wd          float64
date_posted      object
days_listed       int64
dtype: object

In [5]:
data

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51520,9249,2013.0,nissan maxima,like new,6.0,gas,88136.0,automatic,sedan,black,NaN,2018-10-03,37
51521,2700,2002.0,honda civic,salvage,4.0,gas,181500.0,automatic,sedan,white,NaN,2018-11-14,22
51522,3950,2009.0,hyundai sonata,excellent,4.0,gas,128000.0,automatic,sedan,blue,NaN,2018-11-15,32
51523,7455,2013.0,toyota corolla,good,4.0,gas,139573.0,automatic,sedan,black,NaN,2018-07-02,71
51524,6300,2014.0,nissan altima,good,4.0,gas,NaN,automatic,sedan,NaN,NaN,2018-06-05,10

In [6]:
#Let's find gaps and display them in a convenient format.
na = data.isna().sum()
na_perc = round ((data.isna().mean() * 100), 2)

display (pd.DataFrame({"Number of missing values": na, "% missing values":na_perc}).style.format('{:.2f}').background_gradient('coolwarm'))
print (f'Total columns: {len(na)}, without missing values: {(na == 0).sum()}, with missing values: {(na != 0).sum()}')

Total columns: 13, without missing values: 8, with missing values: 5

In [7]:
data['model_year'].value_counts()

2013.0    3549
2012.0    3468
2014.0    3448
2011.0    3375
2015.0    3323
          ...
1948.0       1
1961.0       1
1936.0       1
1949.0       1
1929.0       1
Name: model_year, Length: 68, dtype: int64

In [8]:
data['cylinders'].value_counts()

8.0     15844
6.0     15700
4.0     13864
10.0      549
5.0       272
3.0        34
12.0        2
Name: cylinders, dtype: int64

In [9]:
data['odometer'].value_counts()

0.0         185
140000.0    183
120000.0    179
130000.0    178
160000.0    167
           ...
138580.0      1
94624.0       1
123321.0      1
202627.0      1
139573.0      1
Name: odometer, Length: 17762, dtype: int64

In [10]:
data['paint_color'].value_counts()

white     10029
black      7692
silver     6244
grey       5037
blue       4475
red        4421
green      1396
brown      1223
custom     1153
yellow      255
orange      231
purple      102
Name: paint_color, dtype: int64

In [11]:
data['is_4wd'].value_counts()

1.0    25572
Name: is_4wd, dtype: int64

In [12]:
# For model_year
data['model_year'] = data.groupby('model')['model_year'].transform(lambda x: x.fillna(x.median()))

# For cylinders
data['cylinders'] = data.groupby('model')['cylinders'].transform(lambda x: x.fillna(x.median()))

# For odometer
data['odometer'] = data.groupby(['model_year', 'model'])['odometer'].transform(lambda x: x.fillna(x.mean()))

# For paint_color
data['paint_color'] = data['paint_color'].fillna('no info')

In [13]:
#Verify that there are no more missing values

na = data.isna().sum()
na_perc = round ((data.isna().mean() * 100), 2)

display (pd.DataFrame({"Number of missing values": na, "% missing values":na_perc}).style.format('{:.2f}').background_gradient('coolwarm'))
print (f'Total columns: {len(na)}, without missing values: {(na == 0).sum()}, with missing values: {(na != 0).sum()}')

Total columns: 13, without missing values: 11, with missing values: 2

In [14]:
data

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,no info,1.0,2018-06-23,19
1,25500,2011.0,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,175165.5,automatic,pickup,no info,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51520,9249,2013.0,nissan maxima,like new,6.0,gas,88136.0,automatic,sedan,black,NaN,2018-10-03,37
51521,2700,2002.0,honda civic,salvage,4.0,gas,181500.0,automatic,sedan,white,NaN,2018-11-14,22
51522,3950,2009.0,hyundai sonata,excellent,4.0,gas,128000.0,automatic,sedan,blue,NaN,2018-11-15,32
51523,7455,2013.0,toyota corolla,good,4.0,gas,139573.0,automatic,sedan,black,NaN,2018-07-02,71
51524,6300,2014.0,nissan altima,good,4.0,gas,105229.2,automatic,sedan,no info,NaN,2018-06-05,10

In [16]:
# Create the scatter plot
fig = px.scatter(data, x='model_year', y='odometer')

# Display the plot
st.plotly_chart(fig)

DeltaGenerator()